/* Justin Committe
   February 11
   Expressions Assignment*/
#p1,#p3 {
    text-align: center; /* Aligning the text to the center*/
    font-family: "Times New Roman", Times, serif;/* Changing the type of font*/
    font-size: 4em; /* Changes the size of the font*/
}
